@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'League Spartan', sans-serif;
    padding: 80px 5%;
    text-align: center;
}

h1{
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

img{
    width: 140px;
    filter: drop-shadow( 0 0 6px black);
}
